# Created by .ignore support plugin (hsz.mobi)
### Java template
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.idea/codeStyles/
.idea/dataSources.local.xml
.idea/dataSources/
.idea/libraries/
lib/
out/production/DataStructuresAndAlgorithms/com/company/Algorithms/
out/production/DataStructuresAndAlgorithms/com/company/Graph/
out/production/DataStructuresAndAlgorithms/com/company/List/
out/production/DataStructuresAndAlgorithms/com/company/Physics/
out/production/DataStructuresAndAlgorithms/com/company/StacksAndQueues/
out/production/DataStructuresAndAlgorithms/com/company/data.txt
out/test/
test-output/
test/ODE/
/src/com/company/data.txt
/Numerical/
